<!-- details -->
	<div class="details">
		<div class="container">
			<div class="col-md-7 details-left">
				<img [src]="room.imageUrls[0]" class="img-responsive" alt="">
			</div>
			<div class="col-md-5 details-right">
			<p [innerHTML]="room.summary">	
			<p [innerHTML]="room.translatedSummary"></div>
			<div class="clearfix"> </div>
			<div class="details-top"[innerHTML]="room.description"></div>			
			<div class="details-top"[innerHTML]="room.translatedDescription"></div>
      		<app-booking-form></app-booking-form>
		 </div>
	</div>
<!-- details -->
