	<!-- quick -->
	<div class="quick">
		<div class="container">			
			<div class="col-md-6 quick-left">
				<h3>Offers - Khuyến Mãi</h3>
				<div *ngFor="let new of news" class="new">
					<div class="n-lft">
						<h5>{{ new.date.getDate()}}</h5>
						<h6>{{ monthNames[new.date.getMonth()]}}</h6>
					</div>
					<div class="n-rgt">
						<p [innerHTML] = "new.message"></p>
						<p [innerHTML]="new.translatedMessage"></p>
					</div>
					<div class="clearfix"></div>
				</div>			
			</div>
			<div class="col-md-6 quick-left">
				<h3>Quick Message - Liên Hệ Nhanh</h3>
					<form>
						<input type="text" class="textbox" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
						<textarea placeholder="" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Message';}">Message - Tin Nhắn</textarea>
						<input type="submit" value="Submit">
					</form>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- quick -->
