<!-- banner -->
<!--start-contact-->
<div class="contact">
  <div class="container">
    <div class="contact-top heading">
      <h3>CONTACT US - LIÊN HỆ</h3>
    </div>
    <div class="contact-bottom">
      <input type="text" value="Name - Tên" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" />
      <input type="text" value="Email - Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" />
      <input type="text" value="Phone - Điện Thoại" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}" />
      <textarea value="Message - Tin Nhắn:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Tin Nhắn..</textarea>
      <div class="submit-btn">
        <form>
          <input type="submit" value="SUBMIT - GỬI">
        </form>
      </div>
    </div>
    <!--end-contact-->
    <!--start-map-->
    <div class="co-bt">
      <div class="col-md-3 add">
        <h4>Address - Địa Chỉ</h4>
        <address>
          40 Hau Giang Street, Ward 14<br> Tan Binh District, TP Ho Chi Minh, Vietnam<br>
          <abbr title="Phone">Phone:</abbr> (+84) 165-711-5741 - (+84) 8-3948-0307
        </address>
         <address>
          40 Đường Hậu Giang, Phường 14<br> Quận Tân Bình, TP Hồ Chí Minh, Việt Nam<br>
          <abbr title="Phone">Điện Thoại:</abbr> (+84) 165-711-5741 - (+84) 8-3948-0307
        </address>
      </div>
      <div class="col-md-9 map">
        <iframe width="100%" height="600" src="https://www.maps.ie/create-google-map/map.php?width=100%&amp;height=600&amp;hl=en&amp;q=40%20H%E1%BA%ADu%20Giang%2C%20District%206%2C%20Ho%20Chi%20Minh%2C%20Vietnam+(Hoang%20Long%20Hotel)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=A&amp;output=embed"
          frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--end-map-->