<!-- tels -->
	<div class="tels">
		<div class="container">
			<div class="col-md-4 tels-left">
				<h4>Single room <span>110$</span></h4>
				<img src="assets/images/4.jpg" class="img-responsive" alt="">
				<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',</p>
				<a class="hvr-shutter-in-horizontal" href="details.html">Book Now</a>
			</div>
			<div class="col-md-4 tels-left">
				<h4>Double room <span>150$</span></h4>
				<img src="assets/images/9.jpg" class="img-responsive" alt="">
				<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',</p>
				<a class="hvr-shutter-in-horizontal" href="details.html">Book Now</a>
			</div>
			<div class="col-md-4 tels-left">
				<h4>Private room <span>200$</span></h4>
				<img src="assets/images/3.jpg" class="img-responsive" alt="">
				<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',</p>
				<a class="hvr-shutter-in-horizontal" href="details.html">Book Now</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- tels -->