<!-- tels -->
	<div class="tels">
		<div class="container">
			<div *ngFor="let room of rooms" class="col-md-6 tels-left">
				<h4>{{ room.name }} - {{ room.translatedName }}</h4>
				<h4>Price / Night: <span> ${{ room.price | number }}</span></h4>
				<h4>Giá / Đêm: <span>{{ room.price * 20000 | number}}vnđ</span></h4>
				<img [src]="room.imageUrls[0]" class="img-responsive" alt="">
				<p [innerHTML]="room.summary"></p>
				<br/>
				<p [innerHTML]="room.translatedSummary"></p>
				<a class="hvr-shutter-in-horizontal" [routerLink]="['/room',room.id]">Book Now - Đặt Phòng</a>
			</div>		
		</div>
	</div>
	<!-- tels -->